<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="DirectShowLib" version="1.0.0" targetFramework="net48" />
  <package id="Emgu.CV" version="4.4.0.4099" targetFramework="net48" />
  <package id="Emgu.CV.Bitmap" version="4.4.0.4099" targetFramework="net48" />
  <package id="Emgu.CV.runtime.windows" version="4.4.0.4099" targetFramework="net48" />
  <package id="Emgu.CV.UI" version="4.4.0.4099" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net48" />
  <package id="Metro.UI.CSS" version="3.0.17" targetFramework="net48" />
  <package id="MetroSet_UI" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AI.DirectML" version="1.10.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="6.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="6.0.3" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.14.1" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.DirectML" version="1.14.1" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Gpu" version="1.14.1" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.14.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
</packages>